.advantages__wrapper {
  position: relative;
  background-color: #292929;
  margin: 0 auto;

  ::after {
    $height__grad--advantages: 34px;

    position: absolute;
    bottom: -$height__grad--advantages;
    left: 0;
    content: "";

    width: 100%;
    height: $height__grad--advantages;

    background-image:
            linear-gradient(to top right, transparent 48%, #c3deef 2%, $darkgrey 50%),
    linear-gradient(to top left, transparent 48%, #c3deef 2%, $darkgrey 50%);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;

    @media(min-width: $tablet-width) {
      $height__grad--advantages: 41px;
      bottom: -$height__grad--advantages;
      height: $height__grad--advantages;
    }

    @media(min-width: $desktop-width) {
      $height__grad--advantages: 64px;
      bottom: -$height__grad--advantages;
      height: $height__grad--advantages;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}

.advantages__item {
  margin: 0 20px 30px;
  text-align: center;
  padding: 120px 10px 0;

  &--fast {
    background-image: url("img/advantages/advantage--fast.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 95px 94px;
  }

  &--cool {
    background-image: url("img/advantages/advantage--cool.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 95px 94px;
  }

  &--expensive {
    background-image: url("img/advantages/advantage--expensive.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 95px 94px;
  }

}

.advantages__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;

  text-transform: uppercase;
  margin: 0;
}

.advantages__description {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
