.page-footer {
  background-color: $darkgrey;
  color: white;
}

.page-footer__wrapper {
  padding: 34px 0 24px;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 160px;

    padding: 51px 0 59px;
    margin: 0 64px 0;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto 0;

    display: flex;

  }
}

/*Контактная информация*/

.page-footer__contacts {
  margin: 33px 20px 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media(min-width: $desktop-width) {
    margin-right: 90px;

  }
}

.contacts {
  text-align: center;

  @media(min-width: $tablet-width) {
    text-align: left;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;

  @media(min-width: $tablet-width) {
    text-transform: uppercase;

  }
}

.contacts__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  margin: 0;
  padding: 0;

  @media(min-width: $tablet-width) {
    margin-top: 25px;
    line-height: 1;

  }
}

.contacts__phone {
  color: white;
  text-align: center;
  line-height: 50px;
  text-decoration: none;

  margin: 17px auto 26px;

  @media(max-width: $mobile-width-only) {
    display: block;
    width: 280px;
    height: 50px;

    border: 1px solid #4A4A4A;
  }
}

.contacts__phone-mobile {
  @media(max-width: $mobile-width-only) {
    display: none;
  }
}


/* Соц.сети */

.page-footer__social {
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 3;
    grid-column: 1/3;

    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    order: 0;

    margin: 0;
  }
}

.social__title {
   display: none;

  @media(min-width: $desktop-width) {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
  }
 }

.social__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 101px;

  list-style: none;
  margin: 0;
  padding: 0;

}

.social__item {
  border: 1px solid #4A4A4A;

  @media(min-width: $desktop-width) {
    width: 50px;
    height: 50px;
    
    margin-top: 13px;
  }
}

.social__link {
  color: white;
  text-decoration: none;

  &--vkontakte {
    background-image: url("/img/social/vk_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--facebook {
    background-image: url("/img/social/fb_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--instagram {
    background-image: url("/img/social/instagram_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Разработано */

.page-footer__copyright {
  margin: 31px 0 24px;
  padding-bottom: 24px;

  text-align: center;

  @media(min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media(min-width: $desktop-width) {
    margin-left: auto;

  }
}

.copyright__link {
  display: block;
  width: 280px;
  height: 50px;
  border: 1px solid #4A4A4A;

  margin: 13px auto 0;
  text-decoration: none;
  color: white;

  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 160px;

  }
}

.copyright__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 0;
}
