.page-header {
  display: flex;
  flex-direction: column;

  background-color: #242424;
  color: white;

  @media (min-width: $tablet-width) {
    background-color: black;
    min-height: 469px;
    background-image: url("img/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% -70px;
  }

  @media (min-width: $desktop-width) {
    height: 648px;
    background-position: 50% 0;
    background-size: cover;
  }
}

.page-header__logo {
  min-height: 85px;
  text-align: center;

  @media (min-width: $tablet-width) {
      order: 2;
    }
}

.page-header__logo img {
  width: 226px;
  height: 85px;

  @media (min-width: $desktop-width) {
    margin-top: 57px;
  }

}
