.reviews {
  position: relative;
  padding-bottom: 18px;

  ::after {
    $height__grad: 34px;

    position: absolute;
    content: '';

    left: 0;
    bottom: -$height__grad;
    width: 100%;
    height: $height__grad;

    background-image: linear-gradient(to top right, transparent 48%, #454444 2%, $lightgrey 50%),
    linear-gradient(to top left, transparent 48%, #454444 2%, $lightgrey 50%);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-size: 50.1% 100%;
  }
}

.reviews__wrapper {
  width: auto;
  margin: 27px 20px 0;

  @media(min-width: $tablet-width){
    align-items: center;

    margin: 37px 64px 0;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 37px auto;

  }
}

.reviews__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin: 0;

  @media(min-width: $tablet-width) {
    font-size: 40px;
    line-height: 30px;

    text-align: left;
  }
}

.reviews__write {
  display: none;

  @media(min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 64px;

    &::after {
      display: none;
    }
  }

  @media(min-width: $desktop-width) {
    right: 0;
    left: 800px;

  }
}

.reviews__list {
  margin: 28px 0;

  @media(min-width: $tablet-width) {
    margin: 48px 0 0;
    display: grid;
    grid-template-columns: 50px auto 50px;
  }

  @media(min-width: $desktop-width) {
    grid-column-gap: 21px;
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  justify-content: center;

  @media(min-width: $tablet-width) {
    padding: 35px 30px;
    border-top: 1px solid #E5DDD5;
    border-bottom: 1px solid #E5DDD5;
  }

  @media(min-width: $desktop-width) {
    border: 1px solid #E5DDD5;
  }
}

.reviews__author-image {
  outline: 1px solid #353535;
  outline-offset: -1px;

  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.reviews__author-info {
  margin-left: 20px;
  max-width: 450px;

  @media(min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.reviews__author-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
}

.reviews__text {
  margin: 9px 0 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;

  @media(min-width: $tablet-width) {
    margin-top: 12px;

  }
}

.reviews__button {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 1px solid #E5DDD5;

  @media(min-width: $tablet-width) {
    display: block;

    &::after {
      display: none;
    }
  }
}

.reviews__prev {

  @media(min-width: $tablet-width) {
    order: -1;

    &::before {
      position: absolute;
      content: "";
      border: 12px solid transparent;
      border-right: 12px solid black;
      top: 74px;
      right: 20px;
    }
  }
}

.reviews__next {
  @media(min-width: $tablet-width) {

    &::before {
      position: absolute;
      content: "";
      border: 12px solid transparent;
      border-left: 12px solid black;
      top: 74px;
      left: 20px;
    }
  }
}

.reviews__item--none {
  display: none;
}


