.site-list {
  font-weight: bold;

}

@media (min-width: $tablet-width) {
  .site-list {
    width: 570px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 780px;
  }
}

.site-list a {
  position: relative;
  display: block;
  padding: 12px 21px 13px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;

}