.user-list {
  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px 17px 49px;
  line-height: 18px;
  color: white;
  text-decoration: none;

  @media(min-width: $tablet-width){
    width: 60px;
    height: 70px;
    padding: 0;

    span {
      position: absolute;
      opacity: 0;
    }

    &:hover .user-list__login-icon {
      opacity: 1;
      path {
        fill: #826550;
      }
    }

    &:active .user-list__login-icon {
      opacity: 0.3;
      path {
        fill: white;
      }
    }
  }
}

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;

  @media(min-width: $tablet-width) {
    top: 29px;
    left: 12px;

  }
}


