.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  max-width: 280px;
  min-height: 50px;

  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  border: 1px solid #C4C4C4;

  @media(min-width: $tablet-width) {
    width: 160px;
  }
}